<form #registroForm="ngForm" (ngSubmit)="onSubmit(registroForm)">
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="usuario.nombre" required #nombre="ngModel">
    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
      <p>Ingrese un nombre</p>
    </div>
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="usuario.email" required email #email="ngModel">
    <div *ngIf="email.invalid && (email.dirty || email.touched)">
      <p>Ingresa un email válido</p>
    </div>
  </div>

  <div>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" [(ngModel)]="usuario.password" required minlength="6"
      #password="ngModel">
    <div *ngIf="password.invalid && (password.dirty || password.touched)">
      <p>Ingrese una contraseña de al menos 6 caracteres</p>
    </div>
  </div>

  <button type="submit">Enviar</button>
</form>